<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.asteria.settlement.infrastructure.persistence.mapper.SettlementOutboxEventMapper">

    <resultMap id="BaseResultMap" type="io.asteria.settlement.infrastructure.persistence.dataobject.SettlementOutboxEventDO">
            <id property="id" column="id" />
            <result property="eventId" column="event_id" />
            <result property="aggregateType" column="aggregate_type" />
            <result property="aggregateId" column="aggregate_id" />
            <result property="eventType" column="event_type" />
            <result property="payload" column="payload" />
            <result property="traceId" column="trace_id" />
            <result property="status" column="status" />
            <result property="createdAt" column="created_at" />
            <result property="publishedAt" column="published_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,event_id,aggregate_type,aggregate_id,event_type,payload,trace_id,
        status,created_at,published_at
    </sql>
</mapper>
